html,body,div,table,th,tr,td,ul,li,button{ margin:0; padding:0;}
a{ color: #555; text-decoration: none;}
input{ outline: none;}
html,body{ color: #48576a;}
body {
  padding: 80px;
  font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
  color: #555;
  -webkit-font-smoothing: antialiased;
}
.m-wrap{
    margin-left: 200px;
}
/*left menu*/
.m-left-menu{
    float: left;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
}
.m-left-menu ul{
    width: 100%;
    overflow: hidden;
}
.m-left-menu li{
    line-height: 40px;
}
.m-left-menu li a{
    color: #a6a7a6;
}
.m-left-menu li a:before{
    content: '';
    display: inline-block;
    width: 3px;
    height: 12px;
    border-left: 2px solid #a6a7a6;
    margin-right: 5px;
}
.m-left-menu .cur{
    color: #000;
}
.m-left-menu .cur:before{
    border-left: 2px solid #000;
}
.m-title{
    font-size: 18px;
    color: #555;
}
.m-box{
    margin: 15px 0;
}
.m-table{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #dfe6ec;
    font-size: 13px;
    color: #1f2d3d;
}
.m-table tr{
    background: #fff;
}
.m-table tr:hover{
    background: #ECE9E9;
}
.m-table thead tr:hover{
    background: #fff;
}
.m-table th,.m-table td{
    height: 34px;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
}
.m-table th{
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #dfe6ec;
    border-right: 1px solid #dfe6ec;
}
.m-table td{
    border-bottom: 1px solid #dfe6ec;
    border-right: 1px solid #dfe6ec;
}
.m-table tr:last-child td{
    border-bottom: 0;
}
.m-table td:last-child{
    border-right: 0;
}
.m-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    padding: 0 18px;
    text-align: center;
}
.m-table .column_5{
    text-align: center;
}

.m-button{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #000;
    border: 0px solid #000;
    border-color: #c4c4c4;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.m-button-small{
    background: none;
    outline: none;
    border: none;
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 4px;
    color: #20a0ff;
}
.m-button-primary{
    margin-left: 10px;
    color: #fff;
    background-color: #929ea7;
    border-color: #929ea7;
}
.m-button:hover{
    border-color:#222;
    color: #eee
}
.m-button-primary:hover{
    color: #fff;
}
.m-dialog-wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.m-dialog{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    margin-bottom: 50px;
}
.m-dialog .close{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #bfcbd9;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.m-dialog-title{
    padding: 20px 20px 0;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    color: #1f2d3d;
}
.m-dialog-content{
    padding: 30px 40px;
    color: #48576a;
    font-size: 14px;
}
.m-dialog-content .m-dialog-item{
    padding: 12px 0;
}
.m-dialog-content .m-el-item{
    display: inline-block;
    margin-left: 20px;
}
.m-dialog-content .m-el-radio{
    margin-right: 10px;
}
.m-dialog-content .m-el-input{
    width: 200px;
    padding: 7px 10px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}
.m-dialog-content .m-el-input[disabled]{
    background: #efefef;
}
.m-dialog-footer{
    padding: 10px 20px 15px;
    text-align: right;
    box-sizing: border-box;
}
