<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>模块策略管理</title>
    <link type="text/css" rel="stylesheet" href="/styles/strategy.css">
  </head>
  <body>
    <div>强制更新策略</div>
    <ul>
    <% for(var key in modules) {%>
    <li><%= key %></li>
    <% } %>
   </ul> 
  <script type="text/javascript" src="/scripts/strategy/index.js" charset="UTF-8"></script>
  </body>
</html>
